:root {
    

    --main-font: Roboto,sans-serif;
    --logo-font: Raleway,sans-serif;

    
    --main-txt-cl: #212121;
    --acent-txt-cl: #2196F3;

    
    --dark-bg-colors: #2f303a;
    --light-bg-color: #f5f4fa;
   
    
}

  body {
    font-family: var(--main-font);
    color: var(--main-txt-cl);
      
}

*/ Header section
.header-link {
    background-color: #FFFFFF ;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
}
.header-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color:var(--main-txt-cl) ;
}
.header-link:hover
.header-link:focus
.header-link:active
color:var(--accent-txt-cl) 
.header-link-current {
    color: var(--acent-txt-cl);
}
.hero{
    background: var(--dark-bg-colors);
}
.link {
    text-decoration: none;
    color: currentColor;
    }
.list {
    list-style: none;}
    .hero-discription {
font-family: "Roboto";
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.5;
color: var(--light-bg-color);
    }
.hero-btn {
    cursor:pointer;
    background-color: var(--acent-txt-cl);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.1;
    color: var(--light-bg-color);
}
 
  
 




