:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196f3; 
--primery-white-color: #ffffff;
--primery-black-color: #000000;
--second-grey-color: #f5f4fa;
--footer-bg-color: #2f303a; 
--contacts-ft-color: rgba(255,255,255,0.6);
--social-links-ft-bg-colors: rgba(255,255,255,0.1);
--button-hero-hover-color: #188ce8; 
--header-border-bottom-color: #ececec; 
--portfolio-project-border: #eeeeee; 
--clients-primary-color: #afb1b8; 
--work-text-bg-color: rgba(47,48,58,0.8); 
--portfolio-overlay-text-bg-color: rgba(33,150,243,0.9); 
--modal-window-bg-color: rgba(0,0,0,0.2);
--modal-window-close-border-color: rgba(0,0,0,0.1); 
--portfolio-profect-gap:30 px
--cubic: cubic-bezier(0.4,0,0.2,1);
 
}
 
body {
 font-family: "Roboto";
 
}
/* logo Website */

 .logo {
    color: #2196f3;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
 }

 .header-logo {
    color: var(--primery-black-color);
 }

 /* site-nav */

 .site-nav. list {
    color:var(--primery-black-color)
 }  

 .section hero {

 }

 
 /* others */

 .list {
    list-style: none;
 }
 
 .link {
    text-decoration: none;
 }

 /* section hero */



 /* footer */
.logo {
    color: #2196f3;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}
.footer-logo {
    color: var(--primery-white-color);
}
.footer  {
background-color: var(--footer-bg-color);
}

/* portfolio page */

.work-btn-list {
    background-color: var(--portfolio-overlay-text-bg-color);
   color: var(--second-grey-color);
}
.work-btn-item:hover,
.work-btn-item:focus { 
background-color: var(--accent-color);
color: var(--primery-white-color);
}
.work-btn-item.list.current {
color: var(--accent-color);
}
.work-btn-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.potfolio-text{
    color:var(--primary-text-color)
}
.btn,
.portfolio-btn {
    font-family:"Roboto"
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    background-color: #2196f3; 
      
} 
.visually-hidden {
    display: none;
}





