:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196f3; 
--primery-white-color: #ffffff;
--primery-black-color: #000000;
--second-grey-color: #f5f4fa;
--footer-bg-color: #2f303a; 
--contacts-ft-color: rgba(255,255,255,0.6);
--social-links-ft-bg-colors: rgba(255,255,255,0.1);
--button-hero-hover-color: #188ce8; 
--header-border-bottom-color: #ececec; 
--portfolio-project-border: #eeeeee; 
--clients-primary-color: #afb1b8; 
--work-text-bg-color: rgba(47,48,58,0.8); 
--portfolio-overlay-text-bg-color: rgba(33,150,243,0.9); 
--modal-window-bg-color: rgba(0,0,0,0.2);
--modal-window-close-border-color: rgba(0,0,0,0.1); 
 }
 
body {
font-family: 'Roboto', sans-serif;

}

/* header */

.header:hover {
    color: var(--accent-color);
}
.header:focus {
    color: #2196f3;
}
.header {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor:pointer;
    

}


/* logo Website */

 .logo {
    font-family: Raleway, sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:#2196f3;
 }

 .header-logo {
    color: var(--primery-black-color);
 }

 .header-link {
    
    color:var(--title-text-color)
 }
 .header-current.link {
    color: var(--accent-color);
 }

.header-contacts {
    color: #212121;
    
}
.header-mail {
   font-size: 14px;
   line-height: calc(16/14);
   letter-spacing: 0.02em;
    color:#757575
 } 
 
 
.header-mail:hover {
    color: var(--accent-color);
} 
.header-mail:focus {
    color: #188ce8;
}
.header-phone {
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: #757575; 
} 
.header-phone:hover {
    color: #188ce8;
}
.header-phone:focus {
    color: #188ce8;
}

 .hero { background-color: #2f303a
}





/* hero */

.hero-title {
    background-color: var(--work-text-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height:calc(60/44) ;
    letter-spacing: 0.06em;
    color: var(--primery-white-color);
    text-transform: uppercase;
 }
.hero-button {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 2.1;
   background-color: #2196f3;
   color: #ffffff;
   border: none;
}

 .list {
    list-style: none;
 }
 
 .link {
    text-decoration: none;
    
 }

/* main */


.title-work {

font-size: 14px;
line-height:calc(16/14)  ;
letter-spacing: 0.06em;
color: var(--title-text-color); 
}

.text-work { 

font-size: 14px;
line-height:calc(24/14) ;
letter-spacing: 0.06em;
color:var(--primary-text-color);

}

.title-about {


font-weight: 700;
font-size: 36px;
line-height:calc(42/36);
letter-spacing:0.03em;
text-align: center;
color: var(--title-text-color); 

}

.title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    color: #212121;
    text-align: center;
}
.text-profession {
   
    font-size: 16px;
    line-height: calc(18/16);
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}
 /* footer */
 
.footer-logo {
    color: #2196f3;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    
}
.footer-logo {
    color: var(--primery-white-color);
}
.footer  {
background-color: var(--footer-bg-color);
}
.footer1 {
    font-style: normal;
}
.footer-address {
font-style: normal;
}
.footer-adress:hover {
    color: #188ce8;
}
.footer-adress:focus {
    color: #188ce8;
}
.footer-adress {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.06em;
    color: var(--primery-white-color);
    text-decoration: none;
    
}
.footer-contact:hover {
    color: #188ce8;
}
.footer-contact:focus {
    color: #2196f3;
}
.footer-contact {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.6)
   
}


.footer-contact  {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.6)
  
  }
  
/* portfolio page */
 .logo link {
    font-family: Raleway, sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:#2196f3;
 }

 .header-logo {
    color: var(--primery-black-color);
 }

 .header-link {
    
    color:var(--title-text-color)
 }
 .header-current.link {
    color: var(--accent-color);
 }
 .list {
    list-style: none;
 }
 
 .link {
    text-decoration: none;
    
 }

.header-portfolio {
    
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
   text-decoration: none;
}



.work-btn-item.current {
    
background-color: var(--accent-color);
color: var(--primery-white-color);
    }

.header-portfolio:hover {
    color: #2196f3;
}
.header-portfolio-current {
    font-weight: 500;
    font-size: 14px;
    color:#2196f3  

}
.work-btn-list {
    background-color: var(--portfolio-overlay-text-bg-color);
   color: var(--second-grey-color);
}
.work-btn-item:hover,
.work-btn-item:focus { 
background-color: var(--accent-color);
color: var(--primery-white-color);
}
    
.work-btn-item {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height:calc(26/16);
letter-spacing: 0.03em;
color:var(--title-text-color) ;
cursor: pointer;
}

.header-kontact{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: #757575; 
}
.header-kontact:hover {
    color: #188ce8;
}
.header-kontact:focus {
    color: #188ce8;
}

.potfolio-text{
    font-style: normal;
    color:var(--primary-text-color)
}

.portfolio-btn {
    background-color: #2196f3; 
    cursor: pointer;
      
} 
.visually-hidden {
    display: none;
}

.text-portfolio1 {
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.03em;
    color:var(--title-text-color);

}

.text-portfolio2 {
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em;
color:var(--primary-text-color);
}

/* footer portfolio */
.footer-logoportflio {
    color: #2196f3;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}
.footer-logoportfolio {
    color: var(--primery-white-color);
}

.footer-address {
font-style: normal;
}
.footer-adress:hover {
    color: #188ce8;
}
.footer-adress:focus {
    color: #188ce8;
}
.footer-adress {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.06em;
    color: var(--primery-white-color);
    text-decoration: none;
    
}
.footer-contact:hover {
    color: #188ce8;
}
.footer-contact:focus {
    color: #2196f3;
}
.footer-contact {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.6)
   
}


.footer-contact  {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.6)
  
  }
    




